*, *:before, *:after{
  margin: 0;
  padding:0;
}
:root{
  --container-width: 130px;
  --hamb-width:50px;
  --hamb-height: 50px;
  --bar-color: rgb(255, 4, 205);
  --bar-thickness: 6px;
  --sidebar-width: 250px;
}

.hamburger > * {
  background: linear-gradient(to left, rgb(68, 68, 68), rgb(17, 17, 17));
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: var( --hamb-width);
  height:  var(--bar-thickness);
  transition: 200ms;
  transform-origin: left;
  /* box-shadow: 1px 1px 2px rgb(99, 5, 5);*/
  /* border: 1px solid rgba(0, 0, 0, 0.22);  */
  box-sizing: border-box;
}

.hamburger{  
  display: flex;
  position: absolute;
  left: 0px; 
  z-index: 3;
  top: 20px;
  left: 50px;
  height: var(--hamb-height);
  flex-direction: column;
  justify-content: space-between;
  width: var(--container-width);
  cursor:pointer;
}
 .side.bar{
  position:absolute;
  top: 0;
  opacity: 0;
  left: 0px; 
  z-index: 2;
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(255, 255, 255) 30%);
  width: var(--sidebar-width);
  height: 100%;
  transition: 250ms;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: black;

}
  
.side.bar > *{
  display: flex;
  position: relative;
  top: calc(var(--hamb-height) + 60px);
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-weight: bolder;
}
.side.bar .wrapper > a:hover{
  text-decoration: underline;
}
/* @media (width > 600px) {
  .side.bar{
    display:none;
  }
  .hamburger{
    display: none;
  }
}   */